////////////////////
//Header CrimeNet//
//////////////////

#crimeNet {
    text-align: center;
    width: 100%;
    height: 10%;
    padding-top: 4%;
    border-bottom: $borderMenu;
    background-color: $crimeNetColor;
    background-image: url("../img/crimenet.jpg");
    // border-radius: $borderRadiusDown;

    h1 {
            text-transform: capitalize;
            font-size: 200%;
            font-weight: bold;
            color: $textColorCrimeNet;

    }
}