////////////////////
//Header CrimeNet//
//////////////////

#crimeNet {
    text-align: center;
    height: 15%;
    width: 100%;
    padding-top: 4%;
    border-bottom: $borderMenu;
    background-color: $crimeNetColor;
    background-image: url("../img/crimenet.jpg");
    // border-radius: $borderRadiusDown;

    h1 {
            text-transform: capitalize;
            font-size: 150%;
            font-weight: bold;
            color: $textColorCrimeNet;
            font-family: 'payday';

    }
}

@media screen and (min-width: 1000px) and (min-height: 720px) {
    #crimeNet {
        h1 {
            font-size: 74px;             
        }
        .carousel-indicators {
            bottom: -26px;
        }
    }
}