//FONT-FACE//

@font-face {
    font-family: 'payday';
    src: url('../fonts/Payday.ttf');
}

@font-face {
    font-family: 'thelucky';
    src: url('../fonts/LUCKY-TYPEWRITER.ttf');
}

//MAIN CSS//

body {
    background-color: $backgroundColor;
    width: 100%;
    height: 100vh;
    font-size: 1em;
    font-family: 'Montserrat';
}

#page {
    background-color: $backgroundClicker;
    width: 100%;
    height: 99vh;
    margin: auto;
    border-radius: $borderRadiusPage;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    


    #grid {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        height: 100%;
        width: 100%;
        border-radius: $borderRadiusPage;

        #col1 {
            grid-column: 1;
            
        }

        #col2 {
            
            grid-column: 2;

        }

        #col3 {
            
            grid-column: 3;

        }
    }
    
}

.menu-title {
    
    text-align: center;
    padding-top: 2%;
    height: 10%;
    font-family: 'payday';
        // border-bottom: $borderMenu;
    border-top:0px ridge #2a5da3;
    border-right:0px ridge #2a5da3;
    border-bottom:8px ridge #2a5da3;
    border-left:0px ridge #2a5da3;
    background-color: $menuColor;
    font-size: 6vh;
    
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 54%,#62ace5 100%);
}

#backGround {
    height: 100%;
    background-color: $backgroundClicker;
}

.carousel-indicators {
    bottom: -10px;
}
                               

@media screen and (min-width: 1000px) and (min-height: 600px) {
    .menu-title {
        padding-top: 4%;
    }
    .carousel-indicators {
        bottom: -32px;
    }
}


                               