//////////////////////////
//Right menu with stats//
////////////////////////

#stats {
    width: 100%;
    height: 100%;
    background-color: $menuColor2;
    border-radius: $borderRadiusRight;
    border-left: $borderMenu;

    #allStats {
        padding-top: 5%;
        p {
            padding-left: 3%;
            border-bottom: 3px solid gray;
            padding-bottom: 6%;
            padding-top: 6%;
            font-size: 90%;
        }
    }
}

@media screen and (min-width: 1000px) and (min-height: 600px) {
    #stats {
        #allStats {
            p {
                font-size: 23px;             
            }
        }
    }
}