//Variable & Charte Graphique//

$backgroundColor: #303030;
$backgroundClicker: #b5c5d4;
$menuColor:#1494E4;
$menuColor2: #b1c1d1;
$crimeNetColor:rgb(98, 98, 98);
$textColorCrimeNet: rgb(255, 255, 53);

$borderRadiusPage: 15px;
$borderRadiusLeft: 15px 0 0 15px;
$borderRadiusRight: 0 15px 15px 0;
$borderRadiusUp: 15px 15px 0 0;
$borderRadiusDown: 0 0 15px 15px;

$borderMenu: 2px solid black;